<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Church_Management_Portal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Church_Management_Portal.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>maurice5782</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3308</value>
            </setting>
            <setting name="church_name" serializeAs="String">
                <value>ST. PETER CATHOLIC CHURCH</value>
            </setting>
            <setting name="church_address" serializeAs="String">
                <value>Mbiabong Anyanya Etoi, Uyo</value>
            </setting>
            <setting name="background_image" serializeAs="String">
                <value />
            </setting>
        </Church_Management_Portal.Properties.Settings>
    </userSettings>
</configuration>